<div class="register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://icons-for-free.com/free-icons/png/512/2190978.png" alt="" />
      <h3>Muy bien</h3>
      <p>Es momento de agregar el equipo para tu Unidad</p>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Registro de Equipo GPS</h3>
          <form [formGroup]="formEquipos" autocomplete="off">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="Brand" placeholder="Marca" class="form-control" name="Brand">
                  <div *ngIf="submited && formCheck.Brand.errors">
                    <div *ngIf="formCheck.Brand.errors.required">
                      <label for="" class="text-danger">Requiere Marca</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" formControlName="Model" placeholder="Modelo" class="form-control" name="Model">
                  <div *ngIf="submited && formCheck.Model.errors">
                    <div *ngIf="formCheck.Model.errors.required">
                      <label for="" class="text-danger">Requiere Modelo</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" formControlName="Type" placeholder="Tipo" class="form-control" name="Type">
                  <div *ngIf="submited && formCheck.Type.errors">
                    <div *ngIf="formCheck.Type.errors.required">
                      <label for="" class="text-danger">Requiere Tipo</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="radio" formControlName="RealTime" name="RealTime" value="true">
                  <label>Es de tiempo real</label><br>
                  <input type="radio" formControlName="RealTime" name="RealTime" value="false">
                  <label>NO es de tiempo real</label>
                  <div *ngIf="submited && formCheck.RealTime.errors">
                    <div *ngIf="formCheck.RealTime.errors.required">
                      <label for="" class="text-danger">Requerido</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" formControlName="Battery" placeholder="Tipo de bateria" class="form-control"
                    name="Battery">
                  <div *ngIf="submited && formCheck.Battery.errors">
                    <div *ngIf="formCheck.Battery.errors.required">
                      <label for="" class="text-danger">Requiere Tipo de bateria</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="ComunicationMethods" placeholder="Método de comuncación"
                    class="form-control" name="ComunicationMethods">
                  <div *ngIf="submited && formCheck.ComunicationMethods.errors">
                    <div *ngIf="formCheck.ComunicationMethods.errors.required">
                      <label for="" class="text-danger">Requiere Métodos de comunicación</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="number" formControlName="Precision" placeholder="Precisión" class="form-control"
                    name="Precision">
                  <div *ngIf="submited && formCheck.Precision.errors">
                    <div *ngIf="formCheck.Precision.errors.required">
                      <label for="" class="text-danger">Requiere la precisión del dispositivo</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" formControlName="Unit" placeholder="Unidad" class="form-control" name="Unit">
                  <div *ngIf="submited && formCheck.Unit.errors">
                    <div *ngIf="formCheck.Unit.errors.required">
                      <label for="" class="text-danger">¿A que unidad se relaciona?</label>
                    </div>
                  </div>
                </div>

                <button type="button" id="toCreate" (click)="toCreate()"
                  class="btn btn-primary btnRegister">Registar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>